extends layout 

block layout-block 
    .container
        .booking 
            h2 About Your Headstylist 
            p I am an owambe fashion ethuasiat who like experiementing with different head gears .
            p I believe these master pieces can switch your out fit from fine to mind blowing .
            p Outside work, i like networking to meet people.
        div.location
            img(src="images/author.jpeg", alt="lady in white headshot ", width=400)
            //https://www.pinterest.com/
