extends layout 

block layout-block
    .product 
        div.card
            img(src="images/maingele.jpg")
            //https://www.pinterest.com/
            h2.details Layered Gele 
            p.price $20.00
            button Add to cart
        div.card
            img(src="images/rose.jpg")
            //https://www.pinterest.ca/pin/729020258415037110/?mt=login
            h2.details Layered Rose Gele 
            p.price $40.00
            button Add to cart
        div.card
            img(src="images/gele3.jpg")
            //https://www.bellanaijaweddings.com/edens-glam-yoruba-bridal-beauty/
            h2.details Layered Gele 
            p.price $45.00
            button Add to cart
        div.card
            img(src="images/rose2.jpg")
            //https://www.autogelebyabeke.com/
            h2.details Rose Gele 
            p.price $60.00
            button Add to cart
        div.card
            img(src="images/gele7.jpg")
            //https://www.artofit.org/image-gallery/418553359126295683/how-to-tie-trending-ruffles-gele-with-small-aso-oke/
            h2.details Ruffled Gele 
            p.price $65.00
            button Add to cart
        div.card
            img(src="images/ttgele-03.jpg")
            //https://www.pinterest.com/
            h2.details HandFan Gele 
            p.price $43.00
            button Add to cart
        div.card
            img(src="images/pix-2B19.jpg")
            //https://www.melodyjacob.com/2020/11/makeup-and-gele-ideas-for-nigerian-bride.html
            h2.details Adire Gele 
            p.price $20.00
            button Add to cart